---
import { info } from "@data";

import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";
import WorkWrapper from "@components/general/WorkWrapper.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";

const Works = info.works.map((work) => work);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Projects"}
      description={"All projects are available in this page."}
      ogImageUrl={"/assets/images/profile.webp"}
    />
  </head>

  <body>
    <Layout>
      <h1 style="line-height: 1.2;" class="pb-10">Professional Projects</h1>
      <WorkWrapper works={Works} />
      <section>
        <h2 class="w-[15rem] dark:text-light mt-16">PERSONAL PROJECTS</h2>
        <ProjectsWrapper projects={info.projects} />
      </section>
    </Layout>
  </body>
</html>
